<ion-header>
    <ion-toolbar>
        <ion-title>WeatherIcons1</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <a href="https://codepen.io/tiffanyadu/pen/OprNrV">
        <h1>CSS Weather Icons</h1>
    </a>
    <div class="container">
        <h1 class="title">Pure CSS Weather Icons</h1>
        <!-- .clear or .sunny -->
        <div class="weatherIcon">
            <div class="sunny">
                <div class="inner"></div>
            </div>
        </div>
        <!-- .mostlysunny or .partlycloudy -->
        <div class="weatherIcon">
            <div class="mostlysunny">
                <div class="inner"></div>
            </div>
        </div>
        <!-- .mostlycloudy or .partlysunny -->
        <div class="weatherIcon">
            <div class="mostlycloudy">
                <div class="inner"></div>
            </div>
        </div>
        <!-- .cloudy -->
        <div class="weatherIcon">
            <div class="cloudy">
                <div class="inner"></div>
            </div>
        </div>
        <!-- .fog or .hazy -->
        <div class="weatherIcon">
            <div class="fog">
                <div class="inner"></div>
            </div>
        </div>
        <!-- .chancerain or .rain -->
        <div class="weatherIcon">
            <div class="rain">
                <div class="inner"></div>
            </div>
        </div>
        <!-- .chancetstorms or .tstorms -->
        <div class="weatherIcon">
            <div class="tstorms">
                <div class="inner"></div>
            </div>
        </div>
        <!-- .chancesleet or .sleet -->
        <div class="weatherIcon">
            <div class="sleet">
                <div class="inner"></div>
            </div>
        </div>
        <!-- .chanceflurries or .flurries -->
        <div class="weatherIcon">
            <div class="flurries">
                <div class="inner"></div>
            </div>
        </div>
        <!-- .chancesnow or .snow -->
        <div class="weatherIcon">
            <div class="snow">
                <div class="inner"></div>
            </div>
        </div>
    </div>

</ion-content>