<ion-header>
    <ion-toolbar>
        <ion-title>WeatherIcons1</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <a href="https://codepen.io/ysajid/pen/wWEaZb">Pen</a>

    <div style="margin:50px 15%;">
        <h2>Animated Weather Icons</h2>
        <div class="icon">
            <div class="cloud2 small-cloud"></div>
            <div class="cloud2"></div>
        </div>

        <div class="icon">
            <div class="cloud2"></div>
            <div class="rain"></div>
        </div>

        <div class="icon">
            <div class="cloud2"></div>
            <div class="thunder">
                <div class="bolt"></div>
                <div class="bolt"></div>
            </div>
        </div>

        <div class="icon">
            <div class="rays">
                <div class="ray"></div>
                <div class="ray"></div>
                <div class="ray"></div>
                <div class="ray"></div>
            </div>
            <div class="sun"></div>
        </div>

        <div class="icon">
            <div class="cloud2"></div>
            <div class="drizzle"></div>
        </div>

        <div class="icon">
            <div class="cloud2"></div>
            <div class="snow">
                <div class="flake"></div>
                <div class="flake"></div>
                <div class="flake"></div>
                <div class="flake"></div>
            </div>
        </div>

        <div class="icon">
            <div class="extreme text-center">
                <div class="harsh-wind"></div>
                <div class="harsh-wind"></div>
                <div class="harsh-wind"></div>
                <div class="harsh-wind"></div>
                <div class="harsh-wind"></div>
                <div class="harsh-wind"></div>
                <div class="harsh-wind"></div>
            </div>
        </div>

    </div>
</ion-content>