page-home {
    
    .item {
        display: inline-block;
    }
    .icon-menu {
        width: 10px;
        height: auto;
    }
    .bar-buttons-md{
        background: darkgray;
    }
    .ion-md-menu{
        margin-left: -18px;
        margin-bottom: 2px;
    }
    .label{
        font-size: 20px;
    }
}

