<ion-header>
    <ion-toolbar>
        <ion-title>WeatherIcons1</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <h1><a href="https://codepen.io/semajtwin/pen/NxzOza">Google Now - Weather Icons</a></h1>

    <div class="weather-container">
        <ul>
            <li>
                <div class="icon-container">
                    <div class="sun"></div>
                    <div class="weather-type">Sunny</div>
                </div>
            </li>
            <li>
                <div class="icon-container mostly-sunny">
                    <div class="sun">
                        <div class="shadow"></div>
                    </div>
                    <div class="cloud"></div>
                    <div class="weather-type">Mostly Sunny</div>
                </div>
            </li>
            <li>
                <div class="icon-container partly-cloudy">
                    <div class="sun">
                        <div class="shadow"></div>
                    </div>
                    <div class="cloud"></div>
                    <div class="weather-type">Partly Cloudy</div>
                </div>
            </li>
            <li>
                <div class="icon-container mostly-cloudy">
                    <div class="sun"></div>
                    <div class="cloud with-shadow">
                        <div class="shadow"></div>
                    </div>
                    <div class="weather-type">Mostly Cloudy</div>
                </div>
            </li>
            <li>
                <div class="icon-container cloudy">
                    <div class="cloud with-shadow">
                        <div class="shadow"></div>
                    </div>
                    <div class="weather-type">Cloudy</div>
                </div>
            </li>
            <li>
                <div class="icon-container snowy">
                    <div class="cloud with-shadow">
                        <div class="shadow"></div>
                    </div>
                    <div class="snow-container">
                        <div class="snow"></div>
                        <div class="snow"></div>
                    </div>
                    <div class="weather-type">Snow</div>
                </div>
            </li>
            <li>
                <div class="icon-container rain">
                    <div class="cloud with-shadow">
                        <div class="shadow"></div>
                    </div>
                    <div class="rain-container">
                        <div class="rain-drop"></div>
                        <div class="rain-drop"></div>
                        <div class="rain-drop"></div>
                    </div>
                    <div class="weather-type">Rain</div>
                </div>
            </li>
            <li>
                <div class="icon-container rain mostly-cloudy">
                    <div class="sun"></div>
                    <div class="cloud with-shadow">
                        <div class="shadow"></div>
                    </div>
                    <div class="rain-container">
                        <div class="rain-drop"></div>
                        <div class="rain-drop"></div>
                        <div class="rain-drop"></div>
                    </div>
                    <div class="weather-type">Scattered Showers</div>
                </div>
            </li>
            <li>
                <div class="icon-container rain thunderstorms bad-weather">
                    <div class="cloud"></div>
                    <div class="rain-container">
                        <div class="rain-drop"></div>
                        <div class="rain-drop"></div>
                        <div class="rain-drop"></div>
                        <div class="rain-drop"></div>
                    </div>
                    <div class="shadow"></div>
                    <div class="lightning"></div>
                    <div class="weather-type">Isolated Thunderstorms</div>
                </div>
            </li>
            <li>
                <div class="icon-container fog-mist bad-weather">
                    <div class="mist">
                        <div class="mist-line">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <div class="mist-line">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <div class="mist-line">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <div class="mist-line">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="weather-type">Fog or Mist</div>
                </div>
            </li>
            <li>
                <div class="icon-container blizzard-weather bad-weather">
                    <div class="blizzard">
                        <div class="blizzard-line"></div>
                        <div class="blizzard-line"></div>
                        <div class="blizzard-line"></div>
                    </div>
                    <div class="snow-container">
                        <div class="snow"></div>
                        <div class="snow"></div>
                    </div>
                    <div class="weather-type">Blizzard</div>
                </div>
            </li>
            <li>
                <div class="icon-container rain snowy bad-weather">
                    <div class="cloud with-shadow">
                        <div class="shadow"></div>
                    </div>
                    <div class="snow"></div>
                    <div class="rain-drop"></div>
                    <div class="rain-snow"></div>
                    <div class="weather-type">Rain and Snow</div>
                </div>
            </li>
            <li>
                <div class="icon-container rain sleet-weather bad-weather">
                    <div class="cloud with-shadow">
                        <div class="shadow"></div>
                    </div>
                    <div class="rain-drop"></div>
                    <div class="rain-snow"></div>
                    <div class="sleet-container">
                        <div class="sleet"></div>
                        <div class="sleet"></div>
                    </div>
                    <div class="weather-type">Sleet</div>
                </div>
            </li>
            <li>
                <div class="icon-container night">
                    <div class="moon">
                        <div class="moon-colour"></div>
                        <div class="moon-mask"></div>
                    </div>
                    <div class="weather-type">Clear</div>
                </div>
            </li>
            <li>
                <div class="icon-container isolated-clouds night">
                    <div class="moon">
                        <div class="moon-colour">
                            <div class="shadow"></div>
                        </div>
                        <div class="moon-mask"></div>
                    </div>
                    <div class="cloud"></div>
                    <div class="weather-type">Isolated Clouds</div>
                </div>
            </li>
            <li>
                <div class="icon-container partly-cloudy night">
                    <div class="moon">
                        <div class="moon-colour">
                            <div class="shadow"></div>
                        </div>
                        <div class="moon-mask"></div>
                    </div>
                    <div class="cloud"></div>
                    <div class="weather-type">Partly Cloudy</div>
                </div>
            </li>
            <li>
                <div class="icon-container mostly-cloudy night">
                    <div class="moon">
                        <div class="moon-colour"></div>
                        <div class="moon-mask"></div>
                    </div>
                    <div class="cloud with-shadow">
                        <div class="shadow"></div>
                    </div>
                    <div class="weather-type">Mostly Cloudy</div>
                </div>
            </li>
        </ul>
    </div>
</ion-content>